@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1.5rem;
    color: brown;
    background-color: white;
  }

  nav ul {
    position: fixed;
    background-color: white;
    flex-direction: column;
    top: 6rem;
    left: -5%;
    width: 105%;
    bottom: 0.5rem;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.4s ease-in;
    line-height: 4ex;
    padding: 3rem;
  }


  .menu-hamburguesa {
    font-size: 3rem;
    display: block;
    color: brown;
  }

  nav ul.show {
    transform: translateX(0);
  }

}