/* Reset */
html {
  font-size: 62.5%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
}

h2 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px #8b8eaf;
  margin: 12rem 4rem 6rem 4rem;
}

h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

/* Estructura */
#contenedor {
  display: grid;
  grid-template-areas: "encabezado""principal""pie";
  grid-template-columns: 100%;
  grid-template-rows: auto auto 6rem;
}


header {
  grid-area: encabezado;
  background-color: rgba(126, 126, 126, 0.91);
}


.principal {
  grid-area: principal;
}


.pie {
  grid-area: pie;
}


/* Navegador */
.qatar {
  width: 12rem;
  margin-left: 2rem;
}


ul {
  list-style-type: none;
}

a {
  height: 4rem;
  text-decoration: none;
  color: #611414 !important;
}

a:hover {
  color: #ff7235;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: #fcfcfc;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: #651414;
}

nav a {
  color: #651414;
  transition: 0.3s;
}

nav a:hover {
  color: #ff7235;
  border-bottom: 2px solid #ff7235;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

.menu-hamburguesa {
  color: rgb(95, 24, 24);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}


/* Seccion cuenta regresiva */
.cuentaRegresiva{
  margin-top: 14rem;
}

.countdown{
  display: flex;
  justify-content: center;
}

.countdown div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  width: 12rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px #8b8eaf;
}

.countdown div p{
  font-size: large;
  text-align: center;
}

.countdown div span{
  font-size: large;
  text-align: center;
}

/* Seccion noticias */
.noticias {
  background-color: #fcfcfc;
  padding: 20px 0;
  margin-top: 4rem;
  text-align: center;
}


.foto-noticias {
  width: 100%;
  height: 100%;
}

.contenedor-noticias {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-de-noticias {
  text-align: center;
  width: 21.875rem;
  padding: 10rem;
}

.titulo-noticias {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.contenedor-de-noticias p {
  padding: 0.4rem;
  font-size: 1.5rem;
}

.detalles-noticias {
  margin-bottom: 0.4rem;
}

.tarjeta-noticias {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px #8b8eaf;
  padding: 30px;
  margin: 10px;
  font-size: 1.5rem;
}


@media screen and (max-width: 720px) {
  .contenedor-noticias {
    flex-direction: column;
  }

  .contenedor-de-noticias {
    width: 20.875rem;
  }
}


/* Fixture */

#fixture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.groupA,
.groupB,
.groupC,
.groupD,
.groupE,
.groupF,
.groupG,
.groupH {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.fases1 h4 {
  margin-top: 0.8rem;
}

.fix {
  display: flex;
  justify-content: center;
  width: 31rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px #8b8eaf;
  margin: 1.2rem;
}

.fechaFix {
  display: flex;
  align-items: center;
  width: 10rem;
  margin: 1rem;
}


.imgPais {
  margin: 1rem;
  border: black 0.1rem solid;
}

.imgPais img {
  width: 7rem;
  height: 4.5rem;
}

.equipos {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Seccion equipos */

.grupos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 0;
  padding: 35px 0;
  gap: 1rem;
}

.equipo {
  width: 30rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px #8b8eaf;
  align-items: center;
  justify-content: center;

}

.datosEquipos {
  margin: 0.5rem
}


.imgEquipos {
  width: 10rem;
}

.logo {

  width: 100%;
}

.formacion {

  width: 100%;
  object-fit: cover;

}

.for_01 {

  width: 60%;
  height: 100%;
  padding: 5px;
  font-size: 1rem;

}

.equipo:hover {
  transform: scale(1.2);
  background-color: #8b8eaf;
  color: #fcfcfc;


}

.escudos {
  justify-content: center;
  display: flex;
  width: 40%;
  flex-direction: column;

}

/* Estadios */
.testadio{
  margin: auto;
  background-color: white;
  width: 70%;
  padding: 30px;
  display: grid;
  justify-content: center;
  

} 



ul.slider{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 700px;
    height: 380px;
  
}
.slider{ 
display: flex;
font-size: 12px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}
ul.slider li:target {
    opacity: 1; 
}

.botones{
  text-align: center;

}

.botones li{
  display: inline-block;
  text-align: center;
  margin: 0.5rem;

}

.botones li a{
  display: table-row;
  text-decoration: none;
  height: 20px;
  font-size: large;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px #8b8eaf;
}

/* Formulario */
.divForm {
  display: flex;
  justify-content: center;
}

.nombre,
.email {
  width: 27rem;
}

.send {
  display: flex;
  justify-content: center;
}

.send input {
  width: 7rem;
  height: 3rem;
  font-size: 1.3rem;
}
